
{% load static %}




<!-- <body class="header-collapse"> -->

	<div id="site-content">
		<!-- start menu -->
		<header class="site-header">
			<div class="container">
				<a href="{% url 'home_url' %}" id="branding">
					<!-- <img src="{% static 'home/pics/logo.png' %}" alt="Site Title"> -->
					<p class="name" >ℊ𝓇ℯℯ𝓃 𝓌ℴ𝓇ℓ𝒹</p>
					<small class="site-description">دنیای سبز: جایی برای رشد و زیبایی</small>
				</a> <!-- #branding -->
				
				<nav class="main-navigation">
					<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<!-- current-menu-item -->
						<li class="menu-item"><a href="{% url 'home_url' %}">صفحه نخست</a></li>
						{% if request.user.is_authenticated %}
						    <li class="menu-item"><a href="{% url 'profile_url' %}">پروفایل</a></li>
				
						{% else %}
							<li class="menu-item"><a href="{% url 's' %}">ثبت نام</a></li>
							<li class="menu-item"><a href="{% url 'login_url' %}">ورود</a></li>
						{% endif %}
						<li class="menu-item"><a href="/admin/">admin</a></li>
						<li class="menu-item"><a href="{% url 'blog_url' %}">وبلاگ</a></li>
						<li class="menu-item"><a href="{% url 'products_url' %}">محصولات</a></li>
						<li class="menu-item"><a href="#">تماس با ما</a></li>
					</ul> <!-- .menu -->
				</nav> <!-- .main-navigation -->
				<div class="mobile-menu"></div>
			</div>
		</header>
		<!-- end menu -->
		
	
		
	<!-- <script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/scripts.js"></script> -->
<!-- </body> -->
