{% extends '../home/base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'post/blog/css/style.css' %}">
{% endblock %}

{% block title %}
    مجله دنیای سبز
{% endblock %}


{% block content %}
    {% for post in posts %}
        <div class="post-box">
            <div class="post" dir="rtl">

                <a href='{{ post.slug }}'>
                    <img width="100%"  src="{{ post.img.url }}" alt="{{ post.alt }}" class="post-image">
                </a>

                <br>

                <a href='{{ post.slug }}' class="post-title" >
                    {{ post.title }}
                </a>
                
            </div>
        </div>
    {% endfor %}

{% endblock %}