{% extends '../home/base.html' %}
{% load static %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'post/post_page/css/style.css' %}">
    {% endblock %}



    {% block style %}
    <style>
  
    </style>
    {% endblock %}


    {% block title %}
        {{post.title}}
    {%endblock%}

    
    {% block content %}
    <h1 class="h1" >{{post.title}}</h1>
    <br>

    <div class="box-post" dir="rtl">
        
        
        <a href="{{ post.img.url }}">
        <img width="100%"  src="{{ post.img.url }}" alt="{{ post.alt }}" class="post-image">
        </a>
        
        <p class="txt" >
            {{ post.text|safe|linebreaks }}

        </p>
    </div>
 
   


    <br>

    <h4>نویسنده: {{post.writer}}</h4>
    
    <p>
        برچسب ها:
    </p>

    {% for tags in post.tags.all %}

        <a style="color: #00000094;" href="{% url 'blog_url' %}tag/{{tags.slug}}">
            {{ tags }}
        </a>

        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    
    <br>
    <br>
    
    
        
{% if comment %}
    <ul>
    
   
        {% for i in comment %}
        
        <li class='lir'>
            <div>
                
                {{i.name}}
                <div class="comment-box">
                    
                    <div  class='comment'>
                        
                        <p class="comment-text" >{{i.text|linebreaks}}</p>
                        
                    </div>

                    <button class="btn_rep" onclick="n()" class="myButton" >

                        <div class="text_btn">مشاهده پاسخ ها</div><div class="l" class="fl">↓</div>

                    </button>
                   
                    <ul>
                        



                    {% for i in i.recomment.all %}
                        <li class="lir" >
                            {{i.name}}
                            <div class="rep_box comment" class="h">
                            

                                <p>
                                    {{i.text|safe|linebreaks}}

                                </p>
                                <br>
                            
                            </div>
                        </li>
                        

                    {% endfor %}
                </ul>
                
                <hr>
                </div>
            </div>
        </li>
        {% endfor %}
    
    </ul>
    
    
{% endif %}
    {% if request.user.is_authenticated %}
        {% if not comment %}
            <p>هیچ نظری ثبت نشده اولین نفری باشید که نظر میدهد</p>
        {% endif %}

        <p>
            یک نظر بنویسید:
        </p>
        
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <div class="un">
                {{form.name}}
            </div>
            <div class="cibox" >
                {{form.text}}
            </div>
            <div class="btn-box">
            <input class="commment-sub-btn" type="submit" value="ثبت نظر">
        </div>
        </form>
    {% else %}

    <p>
        برای نظر دادن ابتدا باید وارد حساب کاربری خود شوید
    </p>
    <a href="{% url 'login_url' %}" class="btn btn-primary mb-2">
    ورود به حساب کاربری
    </a>
{% endif %}
<br>
<hr>

<div class="rel-posts">
    {% for post in rel %}
        
        <div class="rel-post-box">
            <a href="{% url 'blog_url' %}{{post.slug}}">
                
                <div class="rel-post-img-box">
                    <img src="{{post.img.url}}" alt="{{post.alt}}" class="rel-post-img" >
                </div>

                <hr>
                <p class="rel-post-title" >{{ post.title }}</p>
            </a>
        </div>
    
    {% endfor %}
</div>









{% endblock %}