{% extends '../home/base.html' %}
{% load static %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'post/post_page/css/style.css' %}">
    {% endblock %}



    {% block style %}
    <style>
     
        p{
            font-size: 120%;
            color:rgb(0, 0, 0);
            padding-bottom: 15px;
        }
        .box-post{
            width: 100%;
            padding-inline: 20%;
            
        }
        @media (max-width: 800px){
            .box-post{
                padding-inline: 3%;
                    

            }
            .h1{
                
                font-size: 23px;
            }
        }

        li{
    list-style-type:none;
        }



        .comment{
            min-height:10pc;
            padding-right: 10px;
            padding-top: 0px;
        }
        .comment-text{
            padding-right: 10px;
        }
    .post-image{
                border-radius: 10px;
                

    }

    </style>
    {% endblock %}



    {% block title %}
        {{post.title}}
    {%endblock%}

    
    {% block content %}
    <h1 class="h1" >{{post.title}}</h1>
    <br>
 
    <div class="box-post" dir="rtl">
        
        
        <a href="{{ post.img.url }}">
        <img width="100%"  src="{{ post.img.url }}" alt="{{ post.alt }}" class="post-image">
        </a>
        
        <p class="txt" >
            {{ post.text|linebreaks }}
        </p>
    </div>

    <br>
    <h4>نویسنده: {{post.writer}}</h4>
    <p>برچسب ها:</p>
    {% for tags in post.tags.all %}
        <a style="color: #00000094;" href="">{{ tags }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br>
    <br>
    
        

    <ul>
    
   
        {% for c in comment %}

        <li class='li-comment'>
            <div>
                
                {{c.name}}
                <div class="comment-box">
                    <div  class='comment'>
                        
                        <p class="comment-text" >{{c.text|linebreaks}}</p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    
    </ul>
    {% if request.user.is_authenticated %}
        <p>
            یک نظر بنویسید
        </p>
        
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            
            <input class="btn btn-primary mb-2" type="submit" value="ثبت نظر">
        </form>
    {% else %}
    <p>
        برای نظر دادن ابتدا باید وارد حساب کاربری خود شوید
    </p>
    <a href="{% url 'login_url' %}" class="btn btn-primary mb-2">
    ورود به حساب کاربری
    </a>
{% endif %}
    


    {% endblock %}