{% extends 'home/base.html' %}
{% load static %}





{% block content %}
<!DOCTYPE html>
<html lang="en">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link type="text/css" href="{% static 'product/css/style.css' %}" rel="stylesheet" />

	
	<main>
		<div class="container">
			<!-- <div class="grid second-nav">
				<div class="column-xs-12">
					<nav>
						<ol class="breadcrumb-list">
							<li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
							<li class="breadcrumb-item"><a href="#">گیاهان آپارتمانی</a></li>
							<li class="breadcrumb-item active">{{ product.title }}</li>
						</ol>
					</nav>
				</div>
			</div> -->
			<div class="grid product">
				<div class="column-xs-12 column-md-7">
					<div class="product-gallery">
						<div class="product-image">
							<img class="active" src="{{ product.img.url }}">
						</div>
						<ul class="image-list">
							{% for img in images %}
									<li class="image-item"><img src="{{ img.image.url }}"></li>
									
							{% endfor %} 
					

						</ul>
					</div>
				</div>
				<div class="column-xs-12 column-md-5">
					<h1>{{ product.title }}</h1>
					<h2>{{ product.price }} تومان</h2>
					<div class="description">
						<p>
							{{ product.text|linebreaks }}
						</p>
					</div>
					<button class="add-to-cart">خرید محصول</button>
				</div>
			</div>
			<div class="grid related-products">
				<div class="column-xs-12">
					<h3>این محصولات نیز پیشنهاد می شوند</h3>
				</div>
				{{ l.title }}
				<!-- <div class="column-xs-12 column-md-4">
					<img src="{% static 'product/pics/pic4.jfif' %}">
					<h4>ساکلنت</h4>
					<p class="price">190 هزار تومان</p>
				</div>
				<div class="column-xs-12 column-md-4">
					<img src="{% static 'product/pics/pic5.jfif' %}">
					<h4>تراریوم</h4>
					<p class="price">190 هزار تومان</p>
				</div>
				<div class="column-xs-12 column-md-4">
					<img src="{% static 'product/pics/pic6.jfif' %}">
					<h4>کاکتوس</h4>
					<p class="price">190 هزار تومان</p>
					
				</div> -->
				
				{{products.tag}}
				{% for r in rel %}
				
				
					<div class="column-xs-12 column-md-4">
						<img src='{{ r.img.url }}'>
						<a href="/products/{{ r.slug }}/">
						<h4>{{ r.title }}</h4>
					</a>
						<p class="price">{{ r.price }}تومان</p>
					</div>
					
				{% endfor %}

			</div>
			<div>
				<hr>
				<h3>
					بیشتر بدانید
				</h3>
				{% for r in rel_post %}
				
				
					<div class="column-xs-12 column-md-4">
						<a href="/blog/{{r.slug}}/">
						<img src='{{ r.img.url }}'>
						
						<h4>{{ r.title }}</h4>
					</a>
						
					</div>
					
				{% endfor %}
			</div>
		</div>
	</main>
	
	<script  src="{% static 'product/js/scripts.js' %}"></script>



{% endblock %}
