{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block static %}
<link type="text/css" href="{% static 'product/css/style.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}




	
	<!-- <main> -->
		<div class="container">
			<div class="grid second-nav">
				<div class="column-xs-12">
					<nav>
						<ol class="breadcrumb-list">
							<li class="breadcrumb-item"><a href="#">صفحه نخست</a></li>
							<li class="breadcrumb-item"><a href="#">گیاهان آپارتمانی</a></li>
							<li class="breadcrumb-item active">{{ product.title }}</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="grid product">
				<div class="column-xs-12 column-md-7">
					<div class="product-gallery">
						<div class="product-image">
							<img class="active" src="{{ product.img.url }}">
						</div>
						<ul class="image-list">
							{% for img in images %}
									<li class="image-item"><img src="{{ img.image.url }}"></li>
									
							{% endfor %} 
					

						</ul>
					</div>
				</div>
				<div class="column-xs-12 column-md-5">
					<h1>{{ product.title }}</h1>
					<h2>{{ product.price|intcomma:False  }} تومان</h2>

					<button class="add-to-cart">خرید محصول</button>
				</div>

			</div>
			<p style="color: black;" >
				{{ product.text|linebreaks }}
			</p>
			<div class="grid related-products">
				<div class="column-xs-12">
					<h3>این محصولات نیز پیشنهاد می شوند</h3>
				</div>
				
				
				
				{{products.tag}}
				{% for r in rel %}
				
				
					<div class="column-xs-12 column-md-4">
						<a href="/products/{{ r.slug }}/">
						<img src='{{ r.img.url }}'>
						
						<h4>{{ r.title }}</h4>
					</a>
						<p class="price">{{ r.price|intcomma:False }}تومان</p>
					</div>
					
				{% endfor %}

			</div>
			<div>
				<hr>
				<h3>
					بیشتر بدانید
				</h3>
				{% for r in rel_post %}
				
				
					<div class="column-xs-12 column-md-4">
						<a href="/blog/{{r.slug}}/">
						<img src='{{ r.img.url }}'>
						
						<h4>{{ r.title }}</h4>
					</a>
						
					</div>
					
				{% endfor %}
			</div>
		</div>
	<!-- </main> -->
	
	<script  src="{% static 'product/js/scripts.js' %}"></script>



{% endblock %}
