{% extends 'home/base.html' %}
{% load static %}


{% block static %}
<link type="text/css" href="{% static 'products/css/main.css' %}" rel="stylesheet" />
{% endblock %}



{% block style %}
    <style>

    </style>
{% endblock %}


{% block content %}
    <div class="product_list">
    {% for product in products %}
        <div class="post-box">
            <div class="post" dir="rtl">

                <a href='/products/{{ product.slug }}/'>
                    <img width="100%"  src="{{ product.img.url }}" alt="{{ product.alt }}" class="post-image">
                </a>

                

                <a href='/products/{{ product.slug }}/' class="post-title" >
                    {{ product.title }}
                </a>
                <p class="cap" >
                    {{ product.cap|linebreaks }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}