/* body{
    background-color: rgb(255, 255, 255);
}



@font-face {

    font-family: 'font-p';
    src: url('../../../home/fonts/iran_sans.ttf');
    }
    
    
    





.post-box{
            
    padding-inline: 20%;
    padding-top: 4pc;
    padding-bottom: 3pc;
}
.post{
    background-color: #353535;
    border: solid #000;
    padding-bottom: 4%;
    min-height: 200px;
border-radius: 10px;

}





.post-image{
border-radius: 10px;
padding-bottom: 2pc;
}

@media (max-width: 720px){
    .post-box{
        padding-inline: 4%;
        font-size: 15px;
    }
}



.post-title{
    color: #fff;
    padding-inline: 1pc;
    transition: .3s;
    
}


.post-title:hover{
    color: #fd5927;
}


.post_list{
    
    align-items: center;
    
} */











@font-face {

    font-family: 'font-p';
    src: url('../../../home/fonts/iran_sans.ttf');
    }
    
 




.post-box{
    
    display: inline-block;

    padding-inline: 50px;

    padding-top: 4pc;
    padding-bottom: 3pc;
}

.post{
    width: 400px;
    height: auto;
    min-width: 400px;
    min-height: 350px;
    max-width: 400px;
    /* max-height: 400px; */
    background-color: #353535;
    border: solid #000;
    
    min-height: 200px;
border-radius: 10px;

}





.post-image{
    position: relative;
    border-radius: 10px;
    min-width: 395px;
    max-width: 395px;
    max-height: 300px;
    min-height: 300px;
    padding-bottom:1pc;
    
}












@media (max-width: 720px){
    .post-box{
        padding-inline: 4%;
        font-size: 15px;
    }
    .post_list{
        display: block;
    }
}



.post-title{
    color: #fff;
    font-size: 13px;
    padding-inline: 1pc;
    margin-bottom: 10pc;
    transition: .3s;
    
}


.post-title:hover{
    color: #fd5927;
}



.post_list{
    
    align-items: center;
    
}

.cap{
            
    color: #fffdfd ;
    padding-inline: 100px;
    padding-top: 10px;
    right: 15px;
    
    
}
.product-box{
    padding-inline: 3pc;
}



.post-title{
    font-size: 2rem;
}
