body{
    background-color: rgb(255, 255, 255);
}



@font-face {

    font-family: 'font-p';
    src: url('../../../home/fonts/iran_sans.ttf');
    }
    
    
    

.post{
    color: #000;
}



.post-box{
            
    padding-inline: 20%;
    padding-top: 4pc;
    padding-bottom: 3pc;
}
.post{
    
    background-color: #353535;
    border: solid #000;
    padding-bottom: 4%;
    min-height: 200px;
border-radius: 10px;

}





.post-image{
    position: relative;
    transition: transform 0.3s ease;
border-radius: 10px;
padding-bottom: 2pc;

}






.post-image:hover {
    transform: scale(1.1); /* زوم کردن تصویر به 110% از اندازه اصلی */
}





@media (max-width: 720px){
    .post-box{
        padding-inline: 4%;
        font-size: 15px;
    }
}



.post-title{
    color: #fff;
    padding-inline: 1pc;
    transition: .3s;
    
}


.post-title:hover{
    color: #fd5927;
}
